<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .panel {
    margin-top: 15px;
  }

  .panel>button {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
  }
</style>

<div>
  <h1>Garages list</h1>
  <router-outlet></router-outlet>
</div>